{
    // I want to use babel-eslint for parsing!
    "parser": "babel-eslint",

    "env": {
        // in CommonJS
        "node": true,

        // browser
        "browser": true,

        // mocha
        "mocha": true
    },

    "ecmaFeatures": {
        "jsx": true,
    },

    "globals": {

    },

    // To give you an idea how to override rule options:
    "rules": {
        "semi": [2, "never"],
        "quotes": [2, "single", "avoid-escape"],
        "no-unused-vars": [2, {"vars": "all", "args": "none"}],
        "eqeqeq": [2, "smart"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}]
    }
}
