{
    "env": {
        "node": true,
        "browser": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "jsx": true,
    },
    "globals": {},
    "rules": {
        "semi": [2, "never"],
        "quotes": [2, "single", "avoid-escape"],
        "no-unused-vars": [2, {"vars": "all", "args": "none"}],
        "eqeqeq": [2, "smart"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}]
    }
}
